<!DOCTYPE html>
<html>
<body style="font-family: Arial;">

    <h2 style="color:#502d7d;">Welcome to Web Ginnie 🚀</h2>

    <p>Hello,</p>

    <p>Your account has been created successfully.</p>

    <p>
        Click below to set your password:
    </p>

    <a href="{{ setup_link }}"
       style="background:#502d7d; color:white; padding:10px 15px; text-decoration:none; border-radius:6px;">
        Set Password
    </a>

    <p style="margin-top:20px;">
        This link will expire in 24 hours.
    </p>

    <br>

    <p>~ Web Ginnie Team</p>

</body>
</html>