{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'css/components.css' %}">
    </head>
    
<body>
    
    <div style="display: flex; justify-content: space-between; align-items: center;" class="header">
        <h2>GinnieFlow - Super Admin</h2>
        <a href="{% url 'logout' %}" style="color: white; text-decoration: none;">Logout</a>
    </div>
    <div class="container">
    {% include 'components/messages.html' %}
    
    <h3>Welcome, {{ request.user.username }}</h3>
    
    <button class="btn" onclick="openModal('addModal')">+ Add Tenant</button>
    <form method="GET" id="filterForm">
        <label>Filter:</label>
    
        <select name="status" style="padding:8px; border-radius:6px; margin-top: 20px;" onchange="document.getElementById('filterForm').submit()">
            <option value="all" {% if status == 'all' %}selected{% endif %}>All</option>
            <option value="active" {% if status == 'active' %}selected{% endif %}>Active</option>
            <option value="inactive" {% if status == 'inactive' %}selected{% endif %}>Inactive</option>
        </select>
    </form>

    <div class="card">
        <h3>Tenants</h3>

        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for tenant in tenants %}
            <tr>
                <td>
                    <a href="{% url 'tenant_detail' tenant.id %}">
                        {{ tenant.name }}
                    </a>
                </td>
                <td>{{ tenant.email }}</td>
                <td>{% if tenant.is_active == True %}Active{%else%}Inactive{% endif %}</td>
                <td style="display: flex; justify-content: center; gap: 20px;">
                    <button class="btn" style="padding: 7px;"
                        onclick="openEditModal('{{ tenant.id }}','{{ tenant.name }}','{{ tenant.email }}')">
                        Edit
                    </button>
                    {% if tenant.is_active %}
                    <form method="POST" action="{% url 'delete-tenant' tenant.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn" style="background:red; padding: 7px;"
                            onclick="return confirm('Are you sure you want to delete this tenant?')">
                            De-Activate
                        </button>
                    </form>
                    {% endif %}
                    {% if not tenant.is_active %}
                        <form method="POST" action="{% url 'hard-delete-tenant' tenant.id %}">
                            {% csrf_token %}
                            <button style="background:black;color:white; padding: 7px; cursor: pointer;"
                                onclick="return confirm('This will permanently delete. Continue?')">
                                Delete Permanently
                            </button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>

<!-- ADD MODAL -->
<div id="addModal" class="modal">
    <div class="modal-content">
        <h3>Add Tenant</h3>
        <form method="POST" action="{% url 'add-tenant' %}">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Company Name"><br><br>
            <input type="email" name="email" placeholder="Email"><br><br>

            <button type="submit" class="btn">Create</button>
            <button type="button" onclick="closeModal('addModal')">Close</button>
        </form>
    </div>
</div>

<!-- EDIT MODAL -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <h3>Edit Tenant</h3>
        <form method="POST" id="editForm">
            {% csrf_token %}
            <input type="text" name="name" id="editName"><br><br>
            <input type="email" name="email" id="editEmail"><br><br>
            <button type="submit" class="btn">Update</button>
            <button type="button" onclick="closeModal('editModal')">Close</button>
        </form>
    </div>
</div>
<script>
function openModal(id){
    document.getElementById(id).style.display='block';
}

function closeModal(id){
    document.getElementById(id).style.display='none';
}

function openEditModal(id, name, email){
    document.getElementById('editModal').style.display='block';

    document.getElementById('editName').value = name;
    document.getElementById('editEmail').value = email;

    document.getElementById('editForm').action = "/accounts/update-tenant/" + id + "/";
}
</script>

</body>
</html>